[submodule "janus/solarized"]
	path = janus/solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "janus/zencoding"]
	path = janus/zencoding
	url = git://github.com/mattn/zencoding-vim.git
	branch = master
[submodule "grunt-init/commonjs"]
	path = grunt-init/commonjs
	url = git://github.com/gruntjs/grunt-init-commonjs.git
	branch = master
[submodule "grunt-init/gruntfile"]
	path = grunt-init/gruntfile
	url = git://github.com/gruntjs/grunt-init-gruntfile.git
	branch = master
[submodule "grunt-init/node"]
	path = grunt-init/node
	url = git://github.com/gruntjs/grunt-init-node.git
	branch = master
[submodule "nave"]
	path = nave
	url = https://github.com/isaacs/nave.git
	branch = master
[submodule "rbenv"]
	path = rbenv
	url = https://github.com/sstephenson/rbenv.git
	branch = master
[submodule "rbenv-plugins/ruby-build"]
	path = rbenv-plugins/ruby-build
	url = https://github.com/sstephenson/ruby-build.git
	branch = master
